@model IEnumerable<QuestionsDataAccess.Models.QuestionEntity>

@{
    ViewData["Title"] = "GetQuestions";
    Layout = "_Layout";
}

@* <h1>Section</h1> *@

@* <p>
    <a asp-action="Create">Create New</a>
</p> *@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Section)
            </th>
        </tr>
    </thead>
    <tbody>
        <div id=accordion">
            @foreach (var item in Model) {
                    <tr>
                        <td style="word-wrap: break-word">
                                <div class="card">
                                    <div class="card-header" id="questionHeading-@(item.QuestionId)">
                                        <button class="btn btn-link btn-block" data-toggle="collapse" data-target="#questionId-@(item.QuestionId)" aria-expanded="false">
                                            @Html.DisplayFor(modelItem => item.QuestionString)
                                        </button>
                                    </div>
                                    
                                    <div id="questionId-@(item.QuestionId)" class="collapse" aria-labelledby="questionHeading-@(item.QuestionId)">
                                        @foreach (var choice in item.AnswerChoices)
                                        {
                                            <input 
                                            type="radio"
                                            class="btn btn-light btn-block"
                                            id="choiceId-@(item.QuestionId)-letter@(choice.Choice)"
                                            name="questionChoice-@(item.QuestionId)"
                                            value="@Html.DisplayFor(modelItem => choice.Choice).) @Html.DisplayFor(modelItem => choice.Details)"
                                            />
                                        }
                                    </div>
                                </div>
                        </td>
                    </tr>
            }
        </div>
    </tbody>
</table>

<br />
@* <div class="row">
    <div class="col-xl-10">
    </div>
    <div class="col-xl-2">
        <button type="button" class="btn btn-danger btn-lg btn-block">
            Finish Exam
        </button>
    </div>
</div> *@

<button type="button" class="btn btn-danger btn-lg btn-block">
    Finish Exam
</button>